/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #aaf2c9, #ffffff);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 5rem 0;
}

/* Navbar */
.navbar-brand img {
  height: 50px;
  color: #000000;
}

.bg-custom {
  background-color: rgba(189, 228, 34, 0.7);
}

/* Header */
header {
  text-align: center;
  color: white;
  background: url('path/to/your/background-image.jpg') no-repeat center center/cover;
  padding: 100px 0;
}

/* Seções */
.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #297014;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #c7d319;
}

#about {
  background-color: #f0f0f0;
}

/* Estilo para Cartões de Produto */
.product-card {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-icon {
  font-size: 50px;
  color: #b8f01e;
}

.product-card h5 {
  margin-top: 15px;
}

/* Botões */
.btn-primary {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-primary:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

/* Info Boxes */
.info-box {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(236, 235, 235, 0.05);
}

.info-box i {
  color: #34db5e;
  margin-bottom: 10px;
}

.info-box h2 {
  color: #333;
}

.info-box p.lead {
  font-size: 18px;
  color: #555;
}

.info-box p {
  font-size: 16px;
  color: #666;
}

.info-box ul {
  list-style-type: none;
  padding: 0;
}

.info-box li {
  margin-bottom: 5px;
  color: #333;
}

/* Popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
  overflow: auto;
}

.popup-content {
  background-color: #fff;
  max-width: 400px;
  margin: 20% auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-popup {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-popup:hover,
.close-popup:focus {
  color: #000;
  text-decoration: none;
}

.popup-content button {
  padding: 10px 20px;
  background-color: #00ff95;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.popup-content button:hover {
  background-color: #0056b3;
}

/* Animações */
.section-about .card,
.section-products .section-title {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section-about .card.visible,
.section-products .section-title.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Estilo para ícones em amarelo claro */
.text-yellow {
  color: #bdb134; /* Amarelo claro */
}
/* Estilo para o rodapé com fundo verde claro */
.bg-light-green {
  background-color: #bfd3b1; /* Verde claro */
  color: #ffffff; /* Texto branco para contraste */
}
/* Estilo padrão dos cards */
#servicos .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Animação quando o mouse passa sobre o card */
#servicos .card:hover {
  transform: scale(1.05); /* Aumenta o tamanho do card levemente */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra para dar profundidade */
}

